.overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: #181818;
}

.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 1100;
  display: none;
  width: 100%;
  padding: 50px 20px 60px;
  background-color: #ffffff;
  transform: translate(-50%, 0);

  .button {
    position: relative;
    z-index: 100;
    margin-top: 24px;
    font-size: 23px;
  }

  .button__arrow {
    width: 66px;
    height: 66px;

    &::before {
      top: -5px;
      left: -5px;
      width: 115px;
      height: 115px;
    }
  }
}

.modal__close {
  position: absolute;
  top: -56px;
  left: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  font-size: 0;
  background: transparent;
  background-image: url("../../img/modal__close--mobile.png");
  border: none;
  transform: translateX(-50%);
  appearance: none;
}

.modal__desc {
  margin: 0;

  margin-left: 16px;
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
}

.modal__title {
  margin-bottom: 15px;
  margin-left: 16px;
}

.modal__text {
  display: flex;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;

  p {
    margin: 0;
  }

  b {
    font-weight: 600;
  }

  &::before {
    content: "";
    display: block;
    min-width: 13px;
    height: 15px;
    margin-top: 3px;
    margin-right: 15px;
    background-image: url("../../img/about__item-arrow.png");
  }
}


.modal__input {
  width: 180px;
  margin-bottom: 70px;
  margin-left: 16px;

  &:first-child {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 510px;
    padding: 54px 54px 60px;

    &--thx {
      width: 450px;

      .modal__text {
        margin-bottom: 0;
      }
    }
  }

  .modal__input {
    margin-left: 0;
  }

  .modal__title {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .modal__desc {
    margin-left: 0;
  }

  .modal__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .button {
      margin: 0 auto;
    }
  }

  .modal__text {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .modal__close {
    top: 20px;
    right: 20px;
    left: unset;
    width: 18px;
    height: 18px;
    background-image: url("../../img/modal__close--desktop.png");
    transform: unset;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-image: url("../../img/modal__close--hover.png");
    }
  }
}
