.title {
  display: inline-block;
  margin: 0;
  font-weight: 800;
  color: #ffffff;

  span {
    padding: 2px 23px 2px 13px;
    background-color: #000000;
    box-decoration-break: clone;
  }

  &--promo {
    font-size: 35px;
  }

  &--section {
    display: inline-block;
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  .title {
    &--promo {
      font-size: 80px;

      span {
        padding-right: 30px;
        padding-left: 30px;
      }
    }

    &--section {
      font-size: 48px;

      span {
        padding: 10px 40px;
      }
    }
  }
}
