<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DMITRIY MILCHENKOV</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
  //= "../blocks/header/header.html"
  <main>
    //= "../blocks/promo/promo.html"
    //= "../blocks/service/service.html"
  </main>
  <script src="js/libs.js"></script>
  <script src="js/general.js"></script>
</body>
</html>
