.count__big {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.count__small {
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
}

.count__separator {
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
}

.count {
  margin: 0 auto;
  text-align: center;
}
